<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesis.village.dao.QuestionTagRelMapper">

    <select id="selectTagIdsByQid" resultType="java.lang.Long">
        SELECT tag_id
        FROM question_tag_rel
        WHERE qid = #{qid}
    </select>

    <insert id="batchInsertRelations" parameterType="java.util.List">
        INSERT IGNORE INTO question_tag_rel
        (qid, tag_id, created_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.qid}, #{item.tagId}, NOW())
        </foreach>
    </insert>
</mapper>